@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

// Global tags
html {
    font-family: "Work Sans", sans-serif;
    overflow: auto;
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $color-background-lg;
}

h1 {
    color: $color-accent;
}

li {
    list-style-type: none;
}

// Global classes
.container--row {
    @include display-flex(center, flex-start);
}

.line-break::after {
    content: "\a";
    white-space: pre;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
