@mixin fade-in($name) {
    @keyframes #{$name} {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin fade-out($name) {
    @keyframes #{$name} {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

@mixin translate-up($name) {
    @keyframes #{$name} {
        0% {
            transform: translateY(20%);
        }
        100% {
            transform: translateY(0);
        }
    }
}

@mixin translate-down($name) {
    @keyframes #{$name} {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(20%);
        }
    }
}

// Error: when scale up, the content 'disappear' using scaleY()
@mixin scale-up($name) {
    @keyframes #{$name} {
        to {
            height: 1280px;
            padding-top: 7rem;
            padding-bottom: 7rem;
            transform: scaleY(1);
        }
    }
}

/// Error: when scale down, the content 'breaks/glitchs'
@mixin scale-down($name) {
    @keyframes #{$name} {
        to {
            height: 0px;
            padding-top: 0;
            padding-bottom: 0;
            transform: scaleY(0);
        }
    }
}

@mixin expand-group($name) {
    @keyframes #{$name} {
        0% {
            height: auto;
        }
        100% {
            height: 1100px;
        }
    }
}

@mixin close-group($name) {
    @keyframes #{$name} {
        0% {
            height: 880px;
        }
        100% {
            height: auto;
        }
    }
}
