// Colors
$color-accent: #d6001c;
$color-background: #e5e5e5;
$color-black: #030909;
$color-black-opacity: rgba(255, 255, 255, 0.1);
$color-text-body: #000000;
$color-text-body-lg: #ffffff;
$color-text-caption: #030909;
$color-text-date: #2c2c2c;

// Font size 16/22/28/32/36/48/98
$text-sm: clamp(1.4rem, 1vw + 0.75rem, 1.6rem);
$text-regular: clamp(1.8rem, 1vw + 1.25rem, 2.1rem);
$text-base: clamp(1.9rem, 1vw + 1.25rem, 2.2rem);
$text-md: clamp(2.2rem, 1vw + 1.5rem, 2.6rem);
$text-lg: clamp(2.6rem, 1vw + 1.75rem, 2.8rem);
$text-2xlg: clamp(2.8rem, 1vw + 2.25rem, 3.2rem);
$text-3xlg: clamp(3.2rem, 1vw + 2.5rem, 3.6rem);
$text-4xlg: clamp(3.6rem, 2vw + 2.5rem, 4.8rem);
$text-8xlg: clamp(6rem, 7vw + 2.5rem, 9.8rem);

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Miscelaneous
$opacity-lg: rgba(255, 255, 255, 0.1);
