@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;
@use "../helpers/responsive" as *;

.box--container {
    display: none;

    @include large-mobile {
        @include font-setup($color-text-body-lg, $text-regular, $semibold, uppercase);
        display: block;
        margin-left: auto;
        background-color: $color-accent;
        color: $color-text-body-lg;
    }

    .box--list {
        @include display-flex(center, "");

        &-item {
            display: flex;
            padding: 1.25rem; //19.5px;

            &:hover {
                background-color: $color-accent-dk;
            }

            &.language {
                padding-inline: 1.5rem; //24px
                border-right: 01px solid $color-accent-dk; //16px
            }

            &.icon {
                display: none;

                @include laptop-large {
                    display: block;
                    padding-inline: 01rem;
                }
            }

            .list--link {
                display: flex;
            }
            
            .language--select {
                background-color: transparent;
                border: none;
                color: $color-text-body-lg;

                option {
                    color: $color-text-body;
                    font-size: $text-regular;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
